//Block template
.clean-side-padding
    padding-left: 0
    padding-right: 0

.full-width-title
    .block-title
        padding-left: 15px
        padding-right: 15px
        +below($breakpoint2)
            text-align: center  

.offset-top-19
    margin-top: 20px
.offset-top-30
    margin-top: 30px
.offset-top-40
    margin-top: 40px

//End block template
.main-menu-highlight
    background: $color-primary
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a
    background: darken($color-primary,10%) !important
.navbar
    +bgnorep-cc("bgheader.jpg")
    background-size: cover
    border: none
    border-radius: 0
    margin-bottom: 0
    box-shadow: 0 0 15px rgba(0,0,0,0.4)
    z-index: 100
    & > .container
        +below($breakpoint2)
            padding-left: 0px
            padding-right: 0px
    .navbar-header
        float: none
        padding: 10px 0
        .logo 
            img
                +size(auto, 70px)
    //Menu cap 1
    ul.menu

        //Dinh dang font danh cho tat ca cac link cap duoi
        a
            font: 15px/35px $font-title
            color: #fff !important
            padding: 5px 15px
            +below($breakpoint2)
                padding: 10px 0
            &:hover
                background: darken($color-primary,10%)

        & > li
            
            //Danh cho cac menu khong co menu cap 2

            & > a.active-trail,
                background: darken($color-primary,10%)

            & > a.active-trail:hover,
                background: darken($color-primary,10%)
            
            //Danh cho cac menu co menu cap 2
            &.expanded:not(.open)
                & > a.dropdown-toggle:hover
                    background: darken($color-primary,10%)

            //Menu cap 2
            & > .dropdown-menu
                border: none
                background: $color-primary
                box-shadow: 3px 3px 5px rgba(0,0,0,0.3)
                padding: 0
                overflow: hidden
                border-radius: 0 5px 5px 5px
                li
                    margin-left: 0
                    a
                        font: 14px/22px $font-global
                        padding: 10px 15px
                        &:focus,
                        &:hover
                            color: $color-primary
                            background: darken($color-primary, 10%) 
                    &.active > a
                        background: $color-primary

    //Navbar mobile version
    +below($breakpoint2)
        background: #fff
        .icon-bar
            height: 1px
            background: #fff !important
        .navbar-toggle,
        .navbar-toggle:focus
            background: none
        .navbar-collapse
            padding: 0
        ul.menu
            margin: 0
            li
                a
                    font-size: 15px
                    color: #fff
                    border-bottom: 1px solid rgba(255,255,255,0.3)
                &.active,
                &:hover,
                &:focus
                    a
                        background: none !important
                        color: #fff !important
                        border-bottom: 1px solid rgba(255,255,255,0.3)
                .dropdown-menu
                    li
                        a
                            padding-top: 5px
                            padding-bottom: 5px
.langselect
    float: right
    ul
        li
            float: left
            list-style: none
            margin-left: 12px
            a
                padding-left: 22px
            &.vi a
                +bgnorep-lc("icon-vi.png")
            &.en a
                +bgnorep-lc("icon-en.png")
    
.slideshow
    .flexslider
        border: none
        .flex-direction-nav
            a
                height: 60px
        .flex-control-paging
            li
                background: darken($color-primary, 10%)
            .flex-active
                background: darken($color-primary, 10%)

.home-link
    .view-content
        +flex-row
        .views-row
            margin-top: 30px
            .fieldset
                +flex-row
                padding: 15px
                background-image: linear-gradient(to left, darken($color-primary,15%), $color-primary)
                //border-radius: 5px
                box-shadow: 0 0 10px rgba(0,0,0,0.3)
                &:hover
                    background: lighten($color-primary, 10%)
                    .views-field-title
                        a
                            color: #fff !important

                .views-field-field-image
                    flex-basis: 40%
                    img
                        //border-radius: 3px
                        box-shadow: 0 0 10px rgba(0,0,0,0.4)
                .views-field-title
                    flex-basis: 60%
                    padding-left: 15px
                    .field-content
                        +size(100%, 100%)
                        display: table
                        a
                            +size(100%, 100%)
                            text-align: center
                            font: bold 18px $font-global
                            display: table-cell
                            vertical-align: middle
                            color: #fff
                            &:hover
                                text-decoration: none

.home-welcome
    .view-content
        .views-row
            text-align: center
            .views-field-title
                font: bold 30px/40px $font-global
                color: $color-primary 
            .views-field-body
                +centerblock(70%)
                margin-top: 5px
                font: 16px/25px $font-global

.home-hinhsangche
    margin-top: 10px
    .jcarousel-skin-default.jcarousel-visible-4
        max-width: 100%
        width: 100%
        border-radius: 0
        border: none
        box-shadow: none
        height: 240px
        margin-top: 10px
        .jcarousel-control-next
            right: 0
            z-index: 1
            top: 85px
            background: $color-primary
        .jcarousel-control-prev
            left: 0
            z-index: 1
            top: 85px
            background: $color-primary
        .jcarousel
            li
                width: 285px
                padding: 15px
                text-align: center
                img
                    +size(100%,auto)
                    border: 1px solid darken($color-primary, 10%)
                    //border-radius: 10px
                    //box-shadow: 0 0 10px rgba(0,0,0,0.2)
                .views-field-title
                    margin-top: 15px
                    a
                        font: bold 14px $font-title
                        color: $color-primary

.home-tuyendung
    .view-content
        .views-row
            +above($breakpoint2)
                margin-bottom: 0
            .views-field-field-image
                margin-right: 20px
                img
                    border: 1px solid darken($color-primary, 10%)
            .views-field-title
                a
                    font: bold 15px/25px $font-global
                    color: $color-primary
            .views-field-body
                margin-top: 10px
            .views-field-view-node
                margin-top: 10px

.same-term
    margin-top: 40px
    .block-title
        text-align: center
        border-bottom: 1px solid $color-border
        margin-bottom: 20px

//Trang lien he
.contact-helper
    margin-bottom: 30px
.bando
    +leftblock(50%)
    +below($breakpoint2)
        width: 100%
        padding-right: 0
.webform-submission-contact-form
    +leftblock(50%)
    padding-right: 20px
    +below($breakpoint2)
        width: 100%
        margin-top: 30px
    

//FOOTER BLOCKS
.footerinfo,
    +below($breakpoint2)
        margin-bottom: 20px
    .views-field-body
        color: #fff
        text-align: center
        p.icon
            padding-left: 30px
            background-size: 20px 20px !important
            display: inline-block
            margin: 0 10px
            &.diachi
                +bgnorep-lc("icon-home1.svg")
            &.website
                +bgnorep-lc("icon-web1.svg")
            &.phone
                +bgnorep-lc("icon-phone1.svg")
            &.mail
                +bgnorep-lc("icon-mail1.svg")
            &.facebook
                +bgnorep-lc("icon-facebook1.svg")
        a
            color: #fff

.fanpage
    +below($breakpoint2)
        margin-bottom: 20px

.hotline-mobile
    +above($breakpoint2)
        +hide
    +posfix3(0,0)
    z-index: 10
    +size(120px,120px)
    .view-content
        .views-row
            .views-field-field-custom-url
                a
                    +size(120px,120px)
                    +bgnorep-cc("anim-phone.gif")
                    background-size: 100% 100%