.view-content
    .flexslider .slides li,
    .views-row
        position: relative
        .views-field-edit-node
            +posabs1(5px,5px)
            +size(25px,25px)
            +bgnorep-cc("icon-edit.svg")
            +opacity-hover
            background-size: 60% 60%
            border-radius: 5px
            background-color: rgba(0,0,0,0.8)
            border: 1px solid rgba(0,0,0,0.4)
            a
                +size(100%,100%)
                opacity: 0
            &:hover

.article-list
    .view-content
        +flex-row
        .views-row
            margin-bottom: 30px
            .views-field-field-image
                +leftblock(30%)
            .fieldset
                +leftblock(70%)
                padding-left: 20px
                .views-field-title
                    a
                        font: bold 16px/20px $font-title
                        color: $color-primary
                .views-field-body
                    margin-top: 10px
                .views-field-view-node
                    margin-top: 5px
                    a
                        font: 12px $font-title

