@import "variables"
@import "w3ateamlibs/lib-master"
@import "mixins"
@import "views"
@import "blocks"
@import "pages"
@import "modules"

body
    margin-top: 0
    //+bgrep("bgmain.png")
    background: darken($color-primary, 10%)
    //Used for sticky top menu
    &.navbar-is-fixed-top
        margin-top: 100px
        +below($breakpoint2)
            margin-top: 60px

h1
    font: bold 30px $font-title
    margin-bottom: 30px
    border-bottom: 1px solid $color-border
    text-align: center
    +below($breakpoint2)
        margin-top: 30px
h2
    font: bold 25px $font-title
    color: $color-primary
    padding-bottom: 10px
    margin-top: 0
.tabs--primary
    margin-bottom: 20px

.main-container
    padding-top: 15px
    background: #ffffff
    box-shadow: 0 0 15px rgba(0,0,0,0.6)
    padding-bottom: 30px
    z-index: 1
    position: relative
    border-radius: 10px
    margin-top: 20px

.footer-wrapper
    background: $color-primary

.footer
    margin-top: -50px
    padding-top: 80px
    border-top: 1px solid $color-border
    +below($breakpoint2)
        padding-left: 0
        padding-right: 0s